In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/a/Programming/Machine-Learning-Folder/Thirt-Meet/data/socr.csv')

In [3]:
df.sample(5)

       Index  Height(Inches)  Weight(Pounds)
10987  10988        66.02316        113.8072
17445  17446        70.41624        148.9906
7265    7266        67.00659        136.9352
7548    7549        69.97731        147.2286
18665  18666        67.97208        111.8923

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           25000 non-null  int64
 1   Height(Inches)  25000 non-null  float64
 2   Weight(Pounds)  25000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 586.1 KB

In [ ]:
df['Height(Inches)'] = df['Height(Inches)'] * 2.54?
df['Weight(Pounds)'] = df['Weight(Pounds)'] * 0.45

In [7]:
df['Height(Inches)']

0        167.089607
1        181.648633
2        176.272800
3        173.270164
4        172.181037
            ...
24995    176.535461
24996    163.952580
24997    164.334317
24998    171.524117
24999    174.949129
Name: Height(Inches), Length: 25000, dtype: float64

In [9]:
df = df.rename(columns={'Weight(Pounds)': 'Berat', 'Height(Inches)':'Tinggi'})

In [ ]:
from sklearn import linear_model
fro