In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/stunting_wasting_dataset.csv')

In [6]:
df.head()

,Jenis Kelamin,Umur (bulan),Tinggi Badan (cm),Berat Badan (kg),Stunting,Wasting
0,Laki-laki,19,91.6,13.3,Tall,Risk of Overweight
1,Laki-laki,20,77.7,8.5,Stunted,Underweight
2,Laki-laki,10,79.0,10.3,Normal,Risk of Overweight
3,Perempuan,2,50.3,8.3,Severely Stunted,Risk of Overweight
4,Perempuan,5,56.4,10.9,Severely Stunted,Risk of Overweight

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Jenis Kelamin      100000 non-null  object
 1   Umur (bulan)       100000 non-null  int64
 2   Tinggi Badan (cm)  100000 non-null  float64
 3   Berat Badan (kg)   100000 non-null  float64
 4   Stunting           100000 non-null  object
 5   Wasting            100000 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 4.6+ MB

In [8]:
df.duplicated().sum()

np.int64(7308)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
stunting_cat = df['Stunting'].astype('category')
stunting_classes = list(stunting_cat.cat.categories)  # urutan kelas
df['Stunting'] = stunting_cat.cat.codes               # y numerik

In [14]:
for col in ['Jenis Kelamin', 'Wasting']:
    if col in df.columns:
        df[col] = df[col].astype('category').cat.codes

In [15]:
df.head()

,Jenis Kelamin,Umur (bulan),Tinggi Badan (cm),Berat Badan (kg),Stunting,Wasting
0,0,19,91.6,13.3,3,1
1,0,20,77.7,8.5,2,3
2,0,10,79.0,10.3,0,1
3,1,2,50.3,8.3,1,1
4,1,5,56.4,10.9,1,1