In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "NIM": ["TI001","TI002","TI003","TI004","TI005","TI006","TI007","TI008","TI009","TI010"],
    "Hasil Sebenarnya": [
        "Lulus","Lulus","Lulus","Lulus","Lulus",
        "Tidak Lulus","Tidak Lulus","Tidak Lulus","Tidak Lulus","Tidak Lulus"
    ],
    "Hasil Prediksi": [
        "Lulus","Lulus","Lulus","Tidak Lulus","Tidak Lulus",
        "Lulus","Tidak Lulus","Tidak Lulus","Tidak Lulus","Tidak Lulus"
    ]
})

In [3]:
df

     NIM Hasil Sebenarnya Hasil Prediksi
0  TI001            Lulus          Lulus
1  TI002            Lulus          Lulus
2  TI003            Lulus          Lulus
3  TI004            Lulus    Tidak Lulus
4  TI005            Lulus    Tidak Lulus
5  TI006      Tidak Lulus          Lulus
6  TI007      Tidak Lulus    Tidak Lulus
7  TI008      Tidak Lulus    Tidak Lulus
8  TI009      Tidak Lulus    Tidak Lulus
9  TI010      Tidak Lulus    Tidak Lulus

In [6]:
# membuat confusion matrix
from sklearn.metrics import confusion_matrix, classification_report

1. Confusion Matrix

In [5]:
confusion_matrix(df['Hasil Sebenarnya'], df['Hasil Prediksi'], labels=['Lulus', 'Tidak Lulus'])

array([[3, 2],
       [1, 4]])

2. Classification Report

In [8]:
print(classification_report(df['Hasil Sebenarnya'], df['Hasil Prediksi']))

              precision    recall  f1-score   support

       Lulus       0.75      0.60      0.67         5
 Tidak Lulus       0.67      0.80      0.73         5

    accuracy                           0.70        10
   macro avg       0.71      0.70      0.70        10
weighted avg       0.71      0.70      0.70        10